#container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.contents {
    position: absolute;
    top: 64px;
    left: 0;
    right: 0;
    bottom: 5px;
}

.contents object {
    width: 100%;
    height: 100%;
}
