<html>
    <head>
        <title>Church in McKinney Backend</title>
        <link rel="stylesheet" type="text/css" href="/static/css/materialize.css">
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
        <script type="text/javascript" src="/static/js/jquery-3.1.1.js"></script>
        <script type="text/javascript" src="/static/js/materialize.js"></script>
        <script type="text/javascript" src="/static/js/riot+compiler.js"></script>
        <script type="text/javascript" src="/static/js/riotcontrol.js"></script>
        <script type="text/javascript" src="/static/js/commonStore.js"></script>
    </head>
    <body>
        <div id="container" class="col s12">
            <header-tag></header-tag>
            <content-tag></content-tag>

            <script type="riot/tag" src="/static/js/riot/header-tag.js"></script>
            <script type="riot/tag" src="/static/js/riot/content-tag.js"></script>

            <script type="text/javascript">
                var store = new CommonStore();
                RiotControl.addStore(store);

                riot.mount('*');
            </script>
        </div>
    </body>
</html>