<html>
    <head>
        <title>Church in McKinney Backend</title>
        <link rel="stylesheet" type="text/css" href="/static/css/materialize.css">
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
        <script type="text/javascript" src="/static/js/jquery-3.1.1.js"></script>
        <script type="text/javascript" src="/static/js/materialize.js"></script>
        <script type="text/javascript" src="/static/js/riot.js"></script>
    </head>
    <body>
        <div id="container" class="col s12">
            <nav>
                <div class="nav-wrapper">
                    <a href="/" class="brand-logo">Church in McKinney Backend</a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="/service">Service</a></li>
                        <li><a href="/registration">Registration</a></li>
                        <li><a href="/directory">Directory</a></li>
                        <li><a href="/login">Login</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </body>
</html>