<object data="https://storage.googleapis.com/church-in-mckinney-backend.appspot.com/McKinney LD Service Schedule.pdf" class="s12">
    alt : <a href="https://storage.googleapis.com/church-in-mckinney-backend.appspot.com/McKinney LD Service Schedule.pdf">Service Schedule</a>
</object>
