<!DOCTYPE html>
<html>
  <head>
	<title>Church in McKinney Backend</title>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="/css/materialize.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
	<script type="text/javascript" src="/js/jquery-3.1.1.js"></script>
	<script type="text/javascript" src="/js/materialize.js"></script>
	<script type="text/javascript" src="/js/riot+compiler.js"></script>
	<script type="text/javascript" src="/js/riotcontrol.js"></script>
	<script type="text/javascript" src="/js/commonStore.js"></script>
	<script type="text/javascript" src="/js/jquery.ui.widget.js"></script>
	<script type="text/javascript" src="/js/jquery.iframe-transport.js"></script>
	<script type="text/javascript" src="/js/jquery.fileupload.js"></script>
	<style type="riot"></style>
  </head>

  <body>
	<header-tag></header-tag>
	<content-tag ref="login_contents"><login-tag></login-tag></content-tag>
	<content-tag ref="directory_contents"><directory-tag></directory-tag></content-tag>
	<content-tag ref="announcement_contents"><announcement-tag></announcement-tag></content-tag>
	<content-tag ref="service_contents"><service-tag></service-tag></content-tag>

	<script type="riot/tag" src="/js/riot/header-tag.js"></script>
	<script type="riot/tag" src="/js/riot/content-tag.js"></script>
	<script type="riot/tag" src="/js/riot/login-tag.js"></script>
	<script type="riot/tag" src="/js/riot/service-tag.js"></script>
	<script type="riot/tag" src="/js/riot/announcement-tag.js"></script>
	<script type="riot/tag" src="/js/riot/directory-tag.js"></script>

	<script type="text/javascript">
		var AUTHENTICATED = <%= valid_user ? 'true' : 'false' %>;
		var store = new CommonStore();
		RiotControl.addStore(store);

		riot.mount('*', {'store': store});
	</script>
  </body>
</html>
