<!DOCTYPE html>
<html>
  <head>
	<title>Church in McKinney Backend</title>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="/css/materialize.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
	<script type="text/javascript" src="/js/jquery-3.1.1.js"></script>
	<script type="text/javascript" src="/js/materialize.js"></script>
	<script type="text/javascript" src="/js/riot+compiler.js"></script>
	<script type="text/javascript" src="/js/riotcontrol.js"></script>
	<script type="text/javascript" src="/js/commonStore.js"></script>
	<script type="text/javascript" src="/js/jquery.ui.widget.js"></script>
	<script type="text/javascript" src="/js/jquery.iframe-transport.js"></script>
	<script type="text/javascript" src="/js/jquery.fileupload.js"></script>
	<style type="riot"></style>
  </head>

  <body>
	<header-tag></header-tag>
	<%= content_for?(:content) ? yield(:content) : yield %>

	<script type="riot/tag" src="/js/riot/header-tag.js"></script>
	<%= content_for?(:riot_scripts) ? yield(:riot_scripts) : yield %>

	<script type="text/javascript">
		var AUTHENTICATED = <%= valid_user ? 'true' : 'false' %>;
		var store = new CommonStore();
		RiotControl.addStore(store);

		riot.mount('*', {'store': store});
	</script>
  </body>
</html>
